@using Cloudflow.Web.Utility.HtmlHelpers
@model Cloudflow.Web.ViewModels.Jobs.ConditionViewModel

<div role="tabpanel" class="tab-pane @(Model.Active ? "active" : "")" id="@Model.ConditionDefinitionId">
    @Html.CreateModelEdit(Model.ExtensionConfiguration, new List<string> { $"{Model.BasePropertyName}.Conditions[{Model.Index}].ExtensionConfiguration" })
</div>
