@model Cloudflow.Web.ViewModels.Jobs.StepsViewModel
@using Cloudflow.Web.Utility.HtmlHelpers;

<section class="container-fluid">
    <div class="col-md-3 panel panel-default">
        <div class="panel-body">
            <div>
                <a data-toggle="modal" data-target="#stepsExtensionBrowser" id="btnAddStep" class="btn btn-default" href="#">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add Step...
                </a>
            </div>

            <hr />

            <ul id="stepNavigationItems" class="nav nav-pills nav-stacked">
                @foreach (var step in Model.Steps)
                {
                    @Html.Partial("_StepNavigationItem", step)
                }
            </ul>
        </div>
    </div>

    <div id="stepConfigurations" class="tab-content col-md-9">
        @foreach (var step in Model.Steps)
        {
            @Html.Partial("_StepConfiguration", step)
        }
    </div>
</section>

@Html.Action("Steps")