@model Cloudflow.Web.ViewModels.Jobs.TriggerViewModel

<div role="tabpanel" class="tab-pane @(Model.Active ? "active" : "")" id="tab@(Model.Id)">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#tabTriggerSettings-@Model.Id" role="tab" data-toggle="tab">Settings</a>
        </li>
        <li role="presentation">
            <a href="#tabTriggerConditions-@Model.Id" role="tab" data-toggle="tab">Conditions</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tabTriggerSettings-@Model.Id">
            @Html.Partial("_TriggerConfiguration", Model)
        </div>

        <div role="tabpanel" class="tab-pane" id="tabTriggerConditions-@Model.Id">
            @Html.Partial("_Conditions", Model.ConditionsViewModel)
        </div>
    </div>
</div>