@model Cloudflow.Web.ViewModels.Jobs.ExtensionConfigurationViewModel

<li data-triggerid="@Model.Id" role="presentation" class="triggerNavigationItem @(Model.Active ? "active" : "")">
    <a href="#tab@(Model.Id)" role="tab" data-toggle="tab">
        @Model.Configuration.Name
        <i data-triggerid="@Model.Id" class="deleteTrigger glyphicon glyphicon-remove pull-right"></i>
    </a>
</li>