@model List<Cloudflow.Web.ViewModels.Jobs.TriggerViewModel>

<section id="@(Guid.NewGuid())" class="container-fluid objectCollectionEdit" data-extensiontype="Trigger"  data-propertyname="Triggers">
    <div class="col-md-3 panel panel-default">
        <div class="panel-body">
            <div>
                <a data-toggle="modal" data-target="#TriggerExtensionBrowser"
                   class="btn btn-default objectCollectionEdit__addButton" href="#">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add Trigger
                </a>
            </div>

            <hr />

            <ul class="nav nav-pills nav-stacked objectCollectionEdit__navigationItems">
                @foreach (var trigger in Model)
                {
                    @Html.Partial("_TriggerNavigationItem", trigger)
                }
            </ul>
        </div>
    </div>

    <div class="tab-content col-md-9 objectCollectionEdit__items">
        @foreach (var trigger in Model)
        {
            @Html.Partial("_TriggerEdit", trigger)
        }
    </div>
</section>

