@model Cloudflow.Web.ViewModels.Jobs.TriggersViewModel
@using Cloudflow.Web.HtmlHelpers;

<section class="container-fluid">
    <div class="col-md-3 panel panel-default">
        <div class="panel-body">
            <div>
                <a id="btnAddTrigger" class="btn btn-default" href="#">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add Trigger...
                </a>
            </div>

            <hr />

            <ul id="triggerNavigationItems" class="nav nav-pills nav-stacked">
                @foreach (var trigger in Model.Triggers)
                {
                    @Html.Partial("_TriggerNavigationItem", trigger)
                }
            </ul>
        </div>
    </div>

    <div id="triggerConfigurations" class="tab-content col-md-9">
        @foreach (var trigger in Model.Triggers)
        {
            @Html.Partial("_TriggerConfiguration", trigger)
        }
    </div>
</section>