@model Cloudflow.Web.ViewModels.ExtensionConfigurationEdits.ComplexCollectionEditViewModel

<div class="form-group stringCollectionEdit" data-propertyname="@Model.PropertyName">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>@Model.LabelText</span>

            <div class="btn-group btn-group-sm">
                <button class="btn btn-toolbar btn-success stringCollectionEdit__addButton" type="button">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <button class="btn btn-toolbar btn-danger stringCollectionEdit__removeButton" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-toolbar btn-default stringCollectionEdit__upButton" type="button">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                </button>
                <button class="btn btn-toolbar btn-default stringCollectionEdit__downButton" type="button">
                    <i class="glyphicon glyphicon-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="panel-body stringCollectionEdit__items">
            <table class="table table-bordered table-striped stringCollectionEdit__itemsTable">
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        @Html.Partial("~/Views/ExtensionConfigurationEdits/ComplexCollectionEditItem.cshtml", item);
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>