@model Cloudflow.Web.ViewModels.ExtensionConfigurationEdits.ComplexCollectionEditItemViewModel

<li role="presentation"
    class="complexCollectionNavigationItem sortableNavigationItem @(Model.Active ? "active" : "")"
    data-sortable-itemid="tab@(Model.Id)">
    <a href="#tab@(Model.Id)" role="tab" data-toggle="tab">
        Text Goes Here
        <i data-stepid="@Model.Id" class="deleteStep glyphicon glyphicon-remove pull-right"></i>
    </a>
</li>