@model Cloudflow.Web.ViewModels.ExtensionConfigurationEdits.ComplexCollectionEditViewModel

<section class="container-fluid">
    <div class="col-md-3 panel panel-default">
        <div class="panel-body">
            <div>
                <a data-toggle="modal" data-target="#someTarget" class="btn btn-default" href="#">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add...
                </a>
            </div>

            <hr />

            <ul class="nav nav-pills nav-stacked sortable">
                @*@foreach (var trigger in Model)
                {
                    @Html.Partial("_TriggerNavigationItem", trigger)
                }*@
            </ul>
        </div>
    </div>

    <div class="tab-content col-md-9">
        @*@foreach (var trigger in Model)
        {
            @Html.Partial("_Trigger", trigger)
        }*@
    </div>
</section>