@model Cloudflow.Web.ViewModels.ExtensionConfigurationEdits.ObjectCollectionItemViewModel

<li role="presentation" class="objectCollectionNavigationItem @(Model.Active ? "active" : "")"
    data-itemid="@(Model.Id)">

    <a href="#@(Model.Id)" role="tab" data-toggle="tab">
        @Model.DisplayText
        <i data-stepid="@Model.Id" class="objectCollectionNavigationItem__deleteButton glyphicon glyphicon-remove pull-right"></i>
    </a>

</li>