@model Cloudflow.Web.ViewModels.ExtensionConfigurationEdits.ObjectCollectionItemViewModel

<li role="presentation"
    class="objectCollectionNavigationItem sortableNavigationItem @(Model.Active ? "active" : "")"
    data-sortable-itemid="@(Model.Id)">
    <a href="#@(Model.Id)" role="tab" data-toggle="tab">
        @Model.DisplayText
        <i data-stepid="@Model.Id" class="deleteStep glyphicon glyphicon-remove pull-right"></i>
    </a>
</li>