@using Cloudflow.Web.Utility.HtmlHelpers
@model Cloudflow.Web.ViewModels.ExtensionConfigurationEdits.ObjectCollectionItemViewModel

<div role="tabpanel" class="tab-pane @(Model.Active ? "active" : "")" id="@(Model.Id)">
    @Html.CreateModelEdit(Model.Value, Model.PropertyNameParts)
</div>

