@model Cloudflow.Web.ViewModels.ExtensionConfigurationEdits.ObjectCollectionEditViewModel

<section class="container-fluid">
    <div class="col-md-3 panel panel-default">
        <div class="panel-body">
            <div>
                <a data-toggle="modal" data-target="#someTarget" class="btn btn-default" href="#">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add @Model.LabelText...
                </a>
            </div>

            <hr />

            <ul class="nav nav-pills nav-stacked objectCollectionEdit__navigationItems"
                data-propertyname="@(string.Join(".", Model.PropertyNameParts))">
                @foreach (var item in Model.Items)
                {
                    @Html.Partial("~/Views/ExtensionConfigurationEdits/ObjectCollectionNavigationItem.cshtml", item);
                }
            </ul>
        </div>
    </div>

    <div class="tab-content col-md-9">
        @foreach (var item in Model.Items)
        {
            @Html.Partial("~/Views/ExtensionConfigurationEdits/ObjectCollectionItem.cshtml", item);
        }
    </div>
</section>