@model Cloudflow.Web.ViewModels.ExtensionConfigurationEdits.ObjectCollectionItemViewModel

<li role="presentation" class="objectCollectionNavigationItem @(Model.Active ? "active" : "")"
    data-itemid="@(Model.Id)">

    <a href="#@(Model.Id)" role="tab" data-toggle="tab">
        @Model.DisplayText
        <i class="glyphicon glyphicon-remove pull-right objectCollectionNavigationItem__deleteButton"></i>
    </a>

</li>