@model Cloudflow.Web.ViewModels.ExtensionConfigurationEdits.StringCollectionEditItemViewModel

<tr>
    <td class="stringCollectionEdit__itemSelector">
        <input class="stringCollectionEdit__itemSelectorInput"
               type="checkbox" />
    </td>
    <td class="stringCollectionEdit__item">
        <input class="form-control input-sm stringCollectionEdit__itemInput"
               type="text" name="@(Model.PropertyName)[@Model.ItemIndex]" value="@Model.Value" />
    </td>
</tr>