@model Cloudflow.Web.ViewModels.ExtensionConfigurationEdits.StringCollectionEditViewModel

<div class="form-group stringCollectionEdit">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>File Name Masks</span>

            <div class="btn-group btn-group-sm">
                <button class="btn btn-toolbar btn-success stringCollectionEdit__addButton" type="button">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <button class="btn btn-toolbar btn-danger stringCollectionEdit__removeButton" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-toolbar btn-default stringCollectionEdit__upButton" type="button">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                </button>
                <button class="btn btn-toolbar btn-default stringCollectionEdit__downButton" type="button">
                    <i class="glyphicon glyphicon-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="panel-body" style="max-height:226px;overflow:auto;">
            <table class="table table-bordered table-striped">
                <tbody class="sortable">
                    @{ var i = 0; }
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td style="width:50px;text-align:center;vertical-align:middle;">
                                <input class="stringCollectionEdit__selectItem" 
                                       type="checkbox" name="@(Model.PropertyName)[@(i)].Selected" value="" />
                            </td>
                            <td>
                                <input class="form-control input-sm stringCollectionEdit__item"
                                       type="text" name="@(Model.PropertyName)[@(i)]" value="@item" />
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>