@model Cloudflow.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home";
    ViewBag.ActivePage = "Home";
}

<div class="jumbotron">
    <h1>Cloudflow</h1>
</div>

@section Scripts {
    <script src="~/Scripts/Home/Index.js"></script>
}

<article class="panel panel-default">
    <header class="panel-heading">
        <h4>Trigger Browser</h4>
    </header>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalExtensionBrowser">Add Trigger</button>
</article>