@model Cloudflow.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<a class="btn btn-primary" id="btnTestService" href="#">Get Agent Status</a>

<div class="jumbotron">
    <h1>Cloudflow</h1>
    <p class="lead">Blah blah blah blah</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<script>
    function SetStatusText(machineName) {
        var statusText = "Unreachable";
        $.ajax({
            url: "http://" + machineName + "/CloudflowAgentService/GetAgentStatus",
            type: "GET",
            crossDomain: true,
            data: "",
            dataType: "json",
            success: function (result) {
                switch (result.Status) {
                    case 1:
                        statusText = "Idle";
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                
            },
            complete: function () {
                $("#agentStatus-" + machineName).text(statusText);
            }
        });
    }
</script>

<div class="row">
    <div class="col-md-4">
        <h2>Agents</h2>
        <p>
            List of configured agents goes here
        </p>
        <table class="">
            <tr>
                <td>Enabled</td>
                <td>Machine Name</td>
                <td>Status</td>
            </tr>
            @foreach (var agent in Model.AgentConfigurations)
            {
                <tr>
                    <td>@agent.Enabled.ToString()</td>
                    <td>@agent.MachineName</td>
                    <td id="agentStatus-@agent.MachineName">
                        <script>
                            SetStatusText("@agent.MachineName");
                        </script>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>