@model Cloudflow.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home";
    ViewBag.ActivePage = "Home";
}

<div class="jumbotron">
    <h1>Cloudflow</h1>
</div>

@section Scripts {
    <script src="~/Scripts/Home/Index.js"></script>
}

<article class="panel panel-default">
    <header class="panel-heading">
        <h4>Triggers</h4>
    </header>
    <section class="panel-body">
        @Html.Partial("ExtensionBrowser", Model.ExtensionBrowserViewModel)
    </section>
</article>
