@model Cloudflow.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home";
    ViewBag.ActivePage = "Home";
}

<div class="jumbotron">
    <h1>Cloudflow</h1>
</div>

@section Scripts {
    <script src="~/Scripts/Home/Index.js"></script>
}

@Html.Partial("ExtensionBrowser", Model.ExtensionBrowserViewModel)