@model Cloudflow.Web.ViewModels.Runs.IndexViewModel

@{
    ViewBag.Title = "Runs Explorer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headScripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/Scripts/Runs/Index.js"></script>
}

<script>
    AgentControllerClient.Agents = [];
    @foreach (var agent in Model.AgentConfigurations)
    {
    <text>
    AgentControllerClient.Agents.push({ machineName: "@agent.MachineName", port: @agent.Port });
    </text>
    }
</script>

<section id="AgentsIndex">
    <header class="page-header">
        <h3>Agent Explorer</h3>
    </header>

    <section class="col-sm-3">
        <ul class="nav nav-list">
            <li class="nav-header">Agents</li>
            <li class="divider"></li>
            <li><a href="#">All</a></li>
            <li class="divider"></li>
            @foreach (var agent in Model.AgentConfigurations)
            {
                <li><a href="#">@agent.MachineName</a></li>
            }
        </ul>
    </section>
    

    <section class="col-sm-9">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#queuedTabPane" data-toggle="tab">Queued</a>
            </li>
            <li>
                <a href="#completedTabPane" data-toggle="tab">Completed</a>
            </li>
        </ul>

        <section id="runGrids" class="tab-content clearfix">
            <setion id="queuedTabPane" class="tab-pane active">
                <table id="queuedGrid" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Name</th>
                            <th>Job</th>
                            <th>Started</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </setion>

            <section id="completedTabPane" class="tab-pane">
                <table id="completedGrid" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Name</th>
                            <th>Job</th>
                            <th>Sarted</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </section>
    </section>
</section>